<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Comic Page</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="/css/colors.css" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="/css/version/tech.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/comics"><img src="/img/boom.png" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/comics">Comics</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="/comics/genre/horror">Horror</a></li>
                                  <li><a class="dropdown-item" href="/comics/genre/fantastic">Fantastic</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="/comics/genre/superhero">Super-hero</a></li>
                                </ul>
                              </li>
                            <% if (user){ %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/comics/new">Add Comic</a>
                                </li> 
                                <% } %>  
                                <% if(user){ %>                   
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Log-Out</a>
                                </li>
                                <% }else { %> 
                                <li class="nav-item">
                                    <a class="nav-link" href="/signup">Sign-Up</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Log-In</a>
                                </li>
                                <% } %> 
                        </ul>
                        <ul class="navbar-nav mr-2">
                            <% if (successMessage && successMessage.length > 0) { %> 
                                <div class="alert alert-success fade show" role="alert">
                                    <%= successMessage %> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                          <% } %> 
                          <% if (errorMessage && errorMessage.length > 0) { %> 
                                <div class="alert alert-warning fade show" role="alert">
                                    <%= errorMessage %> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                               </div>
                          <% } %> 
                        </ul>
                        <ul class="navbar-nav mr-2">
                            <form class="d-flex" action="/comics/search" method="GET">
                                <input class="form-control me-2" type="search" placeholder="Search" name="term" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit"><a> Search </a></button>  
                              </form>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
        <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="/comics">Comics</a></li>
                                    <li class="breadcrumb-item"><a href="/comics/<%= comic._id %>">Comic-Show</a></li>  
                                    <li class="breadcrumb-item active"></li>
                                </ol>
                                <span class="color-orange"><a title=""><%= comic.genre %> </a></span>                                                                                                                        
                                <h3> <%= comic.title  %>  </h3>
                                <div class="blog-meta big-meta">
                                  <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                                  <small class="firstsmall"><a class="bg-orange" title="">Read More</a></small>
                                  <small><a title=""><%= comic.date  %> </a></small>
                                  <small><a title=""><%= comic.author %></a></small>
                                  <small><a title=""><i class="fa fa-eye"></i> 1114</a></small>                              
                                </div><!-- end meta -->
                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li> <img src="<%= comic.image_link %>" alt="" class="img-fluid"></li> 
                                        <br></br>                                       
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->
                            <div class="blog-content">  
                                <div class="pp">
                                  <p><%= comic.description %> </p>
                                </div><!-- end pp -->
                                <img src="upload/tech_menu_09.jpg" alt="" class="img-fluid img-fullwidth">
                            </div><!-- end content -->
                            <div class="blog-title-area">
                                <div class="tag-cloud-single">
                                    <span>Tags</span>
                                    <small><a title="">Comics</small>
                                    <small><a title="">Action</small>
                                    <small><a title="">Horror</small>
                                    <small><a title="">Adventure</small>
                                </div><!-- end meta -->
                            </div><!-- end title -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->
                            <div class="custombox clearfix">
                                <h4 class="small-title"> Comments</h4>
                                <div class="row">
                                  <% comments.forEach((comment => { %>
                                    <div class="col-lg-12">
                                        <div class="comments-list">
                                            <div class="media">
                                                <a class="media-left" href="#">
                                                    <img src="upload/author.jpg" alt="" class="rounded-circle">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading user_name">  <%= comment.user.username %> </h4>
                                                    <p>  <%= comment.text %> </p>
                                                    <a href="/comics/<%= comic._id %>/comments/new" class="btn btn-primary btn-sm">Reply</a>
                                                    <% if (user && user.username === comment.user.username) { %> 
                                                      <form class="w-75 my-1">
                                                        <button type="submit" class="btn btn-primary"> <a class="btn btn-sm btn-warning w-75 p-0 my-1" href="/comics/<%= comic._id %>/comments/<%= comment._id %>/edit">Edit</a></button>
                                                      </form>
                                                      <form class="w-75 my-1" action="/comics/<%= comic._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                        <button type="submit" class="btn btn-primary"><a class="btn btn-sm btn-warning w-75 p-0 my-1" href="">Delete</a></button> 
                                                      </form>
                                                    <% } %>                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end col -->
                                    <%  } )) %> 
                                </div><!-- end row -->
                            </div><!-- end custom-box -->
                            <hr class="invis1">
                            <div class="custombox clearfix">
                                <h4 class="small-title">Leave a Reply</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="form-wrapper">
                                          <button type="submit" class="btn btn-primary"> <a href="/comics/<%= comic._id %>/comments/new">Submit Comment</a></button> 
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="/img/background.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                            <div class="widget">
                                <h2 class="widget-title">Comic Information</h2>
                                <div class="trend-videos">
                                    <div class="blog-box">
                                      <table class="table">
                                        <tbody>
                                          <tr>
                                            <th scope="row">Author</th>
                                            <td><%= comic.author %> </td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Publisher</th>
                                            <td> <%= comic.publisher %>  </td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Date</th>
                                            <td> <%= comic.date %> </td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Series</th>
                                            <td> <%= comic.series %> </td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Issues #</th>
                                            <td> <%= comic.issue %> </td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Genre</th>
                                            <td> <%= comic.genre %> </td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Color?</th>
                                            <td> <%= comic.color %> </td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Owner</th>
                                            <td> <%= comic.owner.username %> </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div><!-- end blog-box -->
                                </div><!-- end videos -->
                            </div><!-- end widget -->
                            <div class="widget">
                                <h2 class="widget-title">Edit This Comic (if owner)</h2>
                                <div class="blog-list-widget">
                                              <% if (user && user.username === comic.owner.username) { %> 
                                                <a href="/comics/<%= comic._id %>/edit">
                                                  <button class="btn btn-outline-info btn-lg btn-block mb-2">Edit</button>
                                                </a>
                                              <% } %> 
                                </div><!-- end blog-list -->
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div><!-- end widget -->
                            <div class="widget">
                                <h2 class="widget-title">Follow Us</h2>

                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button facebook-button">
                                            <i class="fa fa-facebook"></i>
                                            <p>27k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button twitter-button">
                                            <i class="fa fa-twitter"></i>
                                            <p>98k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button google-button">
                                            <i class="fa fa-google-plus"></i>
                                            <p>17k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button youtube-button">
                                            <i class="fa fa-youtube"></i>
                                            <p>22k</p>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end widget -->
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="/img/pow.png" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <div class="dmtop">Scroll to Top</div>
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>

</body>
</html>

